.Nosotros {
    background-color: #aaaaac;
    margin: 50px 40px 50px 40px;
    padding: 20px 10px 20px 10px;
    background-image: radial-gradient(#aaaaac, rgb(102, 95, 95));
  }
  
  .QuienesSomos, .Mision, .Vision {
    margin: 30px 60px 30px 60px;
  }