main {
    justify-items: space-between 5px;
  }
  
  section div img {
    width: 100%;
    height: 550px;
  }
  
  .ProductosDestacados h2 {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  
  section .ProductosDestacados {
    div {
      width: 250px;
      height: 50px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: black;
      margin: 200px 0px 220px 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    img {
      width: 100%;
      height: 200px;
    }
  }