.InformacionYContacto {
    padding: 50px 100px 50px 100px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: " informacion contacto" " mapa  .";
  
    img {
      width: 30px;
      height: 30px;
    }
  }
  
  .Informacion {
    grid-area: informacion;
  }
  
  .Contacto {
    grid-area: contacto;
  }
  
  .Mapa {
    grid-area: mapa;
  }